html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita el desborde horizontal */
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* Esto activa el salto automático */
}

section {
  scroll-snap-align: start; /* Alinea cada sección al inicio */
  scroll-snap-stop: always;
}

.project-card {
  border-style: dashed !important; 
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.05);
}

.img-container img {
  transition: transform 0.5s ease;
}

.project-card:hover .img-container img {
  transform: scale(1.1);
}